* {
  font-family: "Inter", sans-serif;
}
body {
  background: linear-gradient(
    90deg,
    #85f6b8 0%,
    rgba(142, 217, 235, 0.85) 99.84%
  );
  background-blend-mode: darken;
  color: #555555;
}

.container {
  height: 100%;
  width: 100%;
}
.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-wrapper {
  background-color: #fff;
  width: 428px;
  padding: 0 30px;
  height: 588px;
  overflow: hidden;
}

.quiz-wrapper button {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  width: 169px;
  height: 44px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
  border: none;
  cursor: pointer;
  transition: filter cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.quiz-wrapper button:hover {
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.29));
}

.content-wrapper .info-content {
  text-align: center;
  font-style: normal;
  padding: 66px 0;
}

.content-wrapper .info-content h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.content-wrapper .info-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.content-wrapper .info-content p.question {
  min-height: 36px;
}

.login-container .info-content P {
  padding-bottom: 22px;
}

.login-container .info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 26px;
}

.login-container .info-content .msg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
}
.login-container .form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 18px;
}

.login-container .form-content .form-row {
  text-align: left;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 4px;
}

.login-container .form-content .form-row label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  margin-bottom: 5px;
  transition: color ease-in-out 0.4s;
}

.login-container .form-content .form-row input {
  background: #ffffff;
  border: 1px solid #dddddd;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 9px;
  outline: none;
  transition: border ease-in-out 0.4s;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: #555555;
}
.login-container .form-content .form-row input:focus {
  border: 1px solid #028a3d;
}

.login-container .form-content .form-row.error input {
  border: 1px solid #ff3838;
}

/* .login-container .form-content .form-row.error label {
  color: #ff3838;
} */

.login-container .form-content .form-row span {
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #ff3838;
  opacity: 0;
  transition: opacity ease-in-out 0.6s;
}
.login-container .form-content .form-row.error span {
  opacity: 1;
}

.login-container .form-content .form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .form-content .form-btn button {
  background: #028a3d;
}

.question-container .info-content {
  font-style: normal;
  padding: 63px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 23px;
}
.question-container .progress-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.question-container .progress-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
}
.question-container .progress-container .progress-bar {
  width: 100%;
  height: 7px;
  background: #dddddd;
  border-radius: 7px;
}

.question-container .progress-container .progress-bar .progress-bar-fill {
  background: #028a3d;
  border-radius: 7px;
  height: 100%;
}

.question-container .progress-container .progress-bar .progress-bar-fill {
  animation: progress-bar-countdown;
  animation-duration: 60s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-timing-function: linear;
}

@keyframes progress-bar-countdown {
  0% {
    width: 100%;
    /* background: #028a3d; */
  }
  100% {
    width: 0%;
    /* background: #ff3838; */
  }
}

.question-container .response-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 28px;
  margin-top: 9px;
  margin-bottom: 20px;
}

.question-container .response-container .response-item {
  background: #ffffff;
  border: 1px solid #dddddd;
  height: 45px;
  padding: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

/* .question-container .response-container .response-item:hover {
  background-color: rgba(236, 135, 12, 0.075);
  border: 1px solid #ec880c;
}
.question-container .response-container .response-item:hover .radio {
  border: 1px solid #ec880c;
} */

/* .question-container .response-container .response-item.selected:hover {
  background: rgba(2, 138, 61, 0.075);
} */

.question-container .response-container .response-item.selected {
  border: 1px solid #028a3d;
}

.question-container .response-container .response-item .radio {
  margin-right: 14px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  min-height: 15px;
  min-width: 15px;
  max-height: 15px;
  max-width: 15px;
}
.question-container .response-container .response-item.selected .radio {
  background: #028a3d;
  border: 1px solid #028a3d;
}
.question-container .response-container .response-item .response {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}

.question-container .btn-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.question-container .btn-container button#exit {
  background: #ec880c;
}

.question-container .btn-container button#next {
  background: rgba(2, 138, 61, 0.42);
  cursor: not-allowed;
}

.question-container .btn-container button#next.enable {
  background: #028a3d;
  cursor: pointer;
}

.score-container .info-content {
  margin: 108px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.score-container .info-content h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.score-container .info-content p.email {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.score-container .info-content .icon {
  width: 114px;
  height: 114px;
  border: 8px solid #028a3d;
  color: #028a3d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.score-container .info-content .icon .xm {
  display: none;
}

.score-container .info-content.error .icon .xm {
  display: inline-block;
}

.score-container .info-content.error .icon .ch {
  display: none;
}

.score-container .info-content.error .icon {
  border: 8px solid #ff3838;
  color: #ff3838;
}

.score-container .info-content p.score {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.score-container .info-content .btn-container button {
  background: #0880d6;
}

@media screen and (max-height: 620px) {
  .main-wrapper {
    padding: 16px;
    height: auto;
  }
}

@media screen and (max-width: 460px) {
  .main-wrapper {
    padding: 16px;
  }

  .quiz-wrapper {
    width: 100%;
    height: auto;
  }

  .msg-container br {
    display: none;
  }
}

@media screen and (max-width: 248px) {
  .question-container .btn-container {
    flex-direction: column;
  }

  .quiz-wrapper button {
    width: 100%;
    padding: 0 1em;
  }
}
